/* Colors for symbols and layers */

/* Major Park */
.i1 {background-color: #38761D}

/* Pocket Park */
.i2 {background-color: #0197A6}

/* Parkway */
.i3 {background-color: #8de084}

/* Circles */
.i4 {background-color: #B1621E}

/* Scan Routes */
.i5 {border: 2px dashed #a84aba; border-radius: 80px}

/* Major Park */
.i9 {border: 3px solid #000000;}

/* Entry Points */
/* Pedestrian */
.i6 {
    /* background-color: #000000; */
    background-image: url('/assets/ped-icon.png');
    background-size: contain;
    width: 20px;
    height: 20px;
    border-radius: 100px
}

/* Car */
.i7 {
    /* background-color: #000000; */
    background-image: url('/assets/car-icon.png');
    background-size: contain;
    width: 20px;
    height: 20px;
    border-radius: 100px
}

/* All */
.i8 {
    /* background-color: #000000; */
    background-image: url('/assets/all-icon.png');
    background-size: contain;
    width: 20px;
    height: 20px;
    border-radius: 100px
}

/* BOPC logo */
.i10 {
    background-image: url('/assets/BOPC-logo-horizontal.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
}